/* coolors
#FAFAFA
#E3F2FD
#DB5461
#686963
#8AA29E
 */
body {
  font-family: 'IBM Plex Sans', helvetica;
  margin: 0;
  box-sizing: border-box;
  color: #656565;
}
a {
  text-decoration: none;
  color: inherit;
  letter-spacing: 1px;
  font-weight: 400;
}
button.button {
  padding: 8px 15px 9px;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: #DB5461;
  position: relative;
  cursor: pointer;
}
button.ghost {
  border: 2px solid #fff;
  background-color: transparent;
}
button.button::before {
  content: "";
  left: 50%;
  transform: translate(-50%, 1.1em);
  max-width: 0px;
  height: 1px;
  width: 100%;
  transition: all .35s cubic-bezier(0.63, 0.01, 0.69, 0.01);
  border-top: 2px solid #fff;
  position: absolute;
}
button.button:hover::before {
  max-width: calc(100% - 30px);
}

/* meter style */
meter {
}
meter::-webkit-meter-bar {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0);
}
meter::-webkit-meter-optimum-value {
  background: #E3F2FD;
  border-radius: 20px;
}
/*for header and skills*/
.highlight {
  background-color: #DB5461;
  color: #FAFAFA;
}
/* base styles */
.section-title {
  font-weight: 600;
  font-size: 33px;
  margin: 5px 0;
}

.section-subtitle {
  font-weight: 600;
  font-size: 20px;
  margin: 2px 0;
  color: #686963;
}

/* specific styles */
#header-main,
#about,
#skills,
#experience,
#contact {
  padding-left: 80px;
  padding-right: 80px;
}
/* HEADER stylings */
#header-main {
  padding-top: 40px;
  color: #fff;
}
#header-main a {
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 2;
  position: relative;
  text-transform: uppercase;
}
#nav-fullname {
  flex-basis: 50%;
  flex-shrink: 1;
}
.nav-links {
  flex-basis: 50%;
  display: flex;
  justify-content: space-around;
}
.title-profile-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0 40px 0;
  z-index: 2;
  position: relative;
}

.main-title-wrap h1 {
  font-size: 33px;
  font-weight: 600;
  margin: 5px 0;
}

.main-title-wrap h3 {
  font-size: 16px;
  margin: 5px 0;
  font-weight: 400;
}

#profile-img {
  max-width: 400px;
}
/* about section*/
#about {
  padding-top: 35px;
  padding-bottom: 35px;
}

#about h5 {
  margin: 0 0 10px;
  font-weight: 400;
  font-size: 16px;
  color: #6a7b78;
  text-transform: capitalize;
}
#about article {
  margin-bottom: 20px;
  padding-top: 20px;
}
#about p {
  line-height: 2em;
  margin: 0px 0px;
  padding: 0 70px 0 10px;
  font-weight: 500;
  font-size: 15px;
}
/* skills */
#skills {
  padding-top: 20px;
  padding-bottom: 20px;
}

#skills-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
#skills-list li {
  display: flex;
  padding: 10px;
  align-items: center;
}
#skills-list li > div {
  text-align: right;
  flex-basis: 20%;
  margin-right: 10px;
}
 meter {
  flex-grow: 1;
  max-width: 65%;
  margin-right: 10px;
}
/* experience */
#experience {

}
.experience-item {
  margin-bottom: 40px;
}
.experience-item > div {
  display: flex;
  align-items: baseline;
}
.exp-description {
  font-size: 14px;
  line-height: 1.5em;
}
.exp-job-title {
  font-size: 14px;
}
.exp-date {
  color: #8AA29E;
  font-weight: 400;
  font-size: 18px;
}

.exp-company {
  font-weight: 400;
}
.upper-section {
  padding-bottom: 15px;
}

.exp-left {
  flex-grow: 1;
  flex-basis: 25%;
  text-align: right;
  margin: 0;
}

.exp-right {
  flex-grow: 1;
  flex-basis: 75%;
  margin: 0 0 0 10px;
}

/* contact section */
#contact {
  color: #E3F2FD;
  background-color: #686963;
}
#contact-links a {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5em
}


.contact-info-wrap {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 50px 0px;
  flex-wrap: wrap;
}

.footer-subsection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
